body{
	background-image: url(https://wallpapercave.com/wp/w750lKk.jpg) ;
	background-position: right top;
	background-attachment: fixed;
	font-family: 'Bokonique';
}
@font-face{
	font-family: 'Bokonique';
	src: url(fonts/Bokonique.ttf);
}
.header{
	display: flex;
	background-color: #ae3eb3;
	border-radius: 15px;
}
.icon{
	display: flex;
	margin: 15px 200px;
}
.link{
	margin-left: 200px;
	margin-top: 45px;
}
.icon1{
	width: 80px;
	height: 80px;
}
.a1{
	text-decoration: none;
	font-size: 20px;
	border-bottom: purple solid;
	padding: 5px;
	color: black;
}
.a2{
	text-decoration: none;
	font-size: 20px;
	border-bottom: solid;
	padding: 5px;
	color: black;
}
.a2:hover{
	border-bottom: purple solid;
}
.a3{
	text-decoration: none;
	font-size: 15px;
	padding: 20px 40px;
	background-color: purple; 
	border-radius: 5px;
	color: white;
	margin: 50px 20px;
	transition: .4s ease-in-out;
}
.a3:hover{
	background-color: #210416;
}
.t3{
	text-decoration: none;
	color: black;
	font-size: 35px;
	margin: 18px 5px;
}
.t2{
	font-size: 100px;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
}
.content{
	display: flex;
}
.top{
	display: flex;
}
.img1{
	width: 120px;
	height: 120px;
	margin: 50px;
}
.img2{
	width: 120px;
	height: 120px;
	margin: 50px;
}
.t5{
	background-color: white;
	border-radius: 15px;
	border-style: solid;
	padding: 10px;
	margin: 15px;
	text-align: center;
}
.t6{
	font-size: 20px;
	background-color: white;
	border-radius: 15px;
	border-style: solid;
	padding: 10px;
	margin: 15px;
	text-align: justify;
}
.img3{
	width: 120px;
	height: 120px;
	margin: 45px;
}
.url{
	width: 120px;
	height: 120px;
	margin-left: 280px;
}
.url:hover{
	border: skyblue solid;
	border-radius: 30px;
}
.prava{
	margin-left: 650px;
}
.footer{
	display: flex;
	background-color: #ae3eb3;
	border-radius: 15px;
	margin-top: 30px;
}
.a4{
	width: 30px;
	height: 30px;
	margin: 0px 5px;
}
.a5{
	width: 30px;
	height: 30px;
	margin: 0px 5px;
}
.a6{
	width: 30px;
	height: 30px;
	margin: 0px 5px;
}
.a4:hover{
	border: 1px purple solid;
	border-radius: 10px;
}
.a5:hover{
	border: 1px purple solid;
	border-radius: 10px;
}
.a6:hover{
	border: 1px purple solid;
	border-radius: 10px;
}
.links{
	margin: 15px 30px;	
}